.anchor {
    -fx-background-image: url("../images/background/Sky_sfocatura.png");
    -fx-background-color: transparent;
    -fx-background-size: stretch;
}

.board {
    -fx-background-image: url("../images/Plancia_Gioco.png");
    -fx-background-size: stretch;
}

.woodBg {
    
}

.borderOnHover:hover {
    -fx-effect: dropshadow(three-pass-box, #ffff00, 2.0, 1.0, 0, 0);
}

.valid_island {
    -fx-effect: dropshadow(three-pass-box, rgba(94, 255, 0, 0.7), 10.0, 1.0, 0, 0);
}

.invalid_island {
    -fx-effect: dropshadow(three-pass-box, rgba(87, 87, 87, 0.7), 10.0, 1.0, 0, 0);
    -fx-opacity: 0.5;
}

.diningRoom {
    -fx-background-color: transparent;
}

.diningRoom:hover {
    -fx-background-color: transparent;
    -fx-border-style: solid;
    -fx-border-color: #ffff00;
    -fx-effect: dropshadow(three-pass-box, #ffff00, 2.0, 1.0, 0, 0);
}

.blackTower {
    -fx-effect: dropshadow(three-pass-box, #ffffff, 10.0, 0.2, 0, 0);
}

.whiteTower {
    -fx-effect: dropshadow(three-pass-box, #000000, 10.0, 0.2, 0, 0);
}

.greyTower {
    -fx-effect: dropshadow(three-pass-box, #000000, 10.0, 0.2, 0, 0);
}