.anchor {
    -fx-background-image: url("../images/background/Sky_sfocatura.png");
    -fx-background-color: transparent;
}

.flow-pane {
    -fx-background-color: transparent;
}

.card {
    -fx-effect: dropshadow(three-pass-box, #000000, 8.0, 0.0, 0, 0);
}

.cardOnHover:hover {
    -fx-effect: dropshadow(three-pass-box, #ffff00, 8.0, 3.0, 0, 0);
    
}