@font-face {
    font-family: 'Avenir Next Condensed';
    src: url("../fonts/Avenir_Next_Condensed.ttc");
}

.anchor {
    -fx-background-image: url("../images/background/Sky_sfocatura.png");
    -fx-background-color: transparent;
}

.flow-pane {
    -fx-background-color: transparent;
}

.cardValid {
    -fx-effect: dropshadow(three-pass-box, #000000, 8.0, 0.0, 0, 0);
	-fx-cursor: HAND;
}

.cardValid:hover {
    -fx-effect: dropshadow(three-pass-box, #ffff00, 8.0, 3.0, 0, 0);
}

.cardInvalid {
	-fx-effect: dropshadow(three-pass-box, #000000, 8.0, 0.0, 0, 0);
	-fx-opacity: 0.3;
	-fx-cursor: DEFAULT;
}