.split-pane-divider {
    -fx-background-color: transparent;
 }

.lobbyBG {
    -fx-background-image: url("../images/Eriantys_sfocatura.jpg");
    -fx-background-position: center;
}

.lobbyText {
    -fx-font-family: "Avenir Next Condensed";
    -fx-font-size: 18px;
    -fx-fill: white;
}

.firstPlayer {
	-fx-background-image: url("../images/background/Sky_sfocatura.png");
	-fx-background-size: cover;
}

.onHover:hover {
	-fx-effect: dropshadow(three-pass-box, #ffff00, 2.0, 1.0, 0, 0);
}

.winnerBG {
    -fx-background-image: url("../images/background/Sky_sfocatura.png");
    -fx-background-size: cover;
    -fx-background-position: center;
}